{% extends "template.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="sq-single">
            <h2>Students</h2>
            <p>
                {% if student %}
                    <ul>
                        {% for students in student %}
                            {% if students.id_class == 'CE1B' %}
                                <li>Student: {{ students.id_student }}, Class: {{ students.id_class }}, School: {{ students.id_school }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no students present.</strong>
                {% endif %}
            </p>
        </div>
        <div class="sq-single">
            <h2>Scores</h2>
            <p>
                {% if score %}
                    <ul>
                        {% for scores in score %}
                            {% if scores.student.id_class == 'CE1B' %}
                                <li>Class: {{ scores.student.id_class }}, Exercise: {{ scores.exercise.id_exercise }},
                                    Student: {{ scores.student.id_student }},
                                    Date: {{ scores.date }}, Score: {{ scores.score }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no score present.</strong>
                {% endif %}
            </p>
        </div>


        <div class="sq-single"  >
            <canvas id="canvas" height="450" width="600"></canvas>
        </div>


        <script>
        var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
        var barChartData = {
            labels : ["January","February","March","April","May","June","July","August","September","October","November","December"],
            datasets : [
                {
                    fillColor : "rgba(220,220,220,0.5)",
                    strokeColor : "rgba(220,220,220,0.8)",
                    highlightFill: "rgba(220,220,220,0.75)",
                    highlightStroke: "rgba(220,220,220,1)",
                    data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),
                        randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),
                        randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
                },
                {
                    fillColor : "rgba(151,187,205,0.5)",
                    strokeColor : "rgba(151,187,205,0.8)",
                    highlightFill : "rgba(151,187,205,0.75)",
                    highlightStroke : "rgba(151,187,205,1)",
                    data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),
                        randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),
                        randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
                }
            ]
        };
        window.onload = function(){
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myBar = new Chart(ctx).Bar(barChartData, {
                responsive : true
            });
        }
        </script>

    {% else %}
        <a href="admin">Login</a>
    {% endif %}
{% endblock %}