{% extends "template.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="square">
            <h2>Score Count</h2>
            <p>
                {% if scores_per_class %}
                    <ul>
                        {% for x, y in scores_per_class%}
                            <li>{{  x }} Count: {{ y }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no students present.</strong>
                {% endif %}
            </p>
        </div>
        <div class="square">
            <h2>Exercises</h2>
            <p>
                {% if exercise %}
                    <ul>
                        {% for exercises in exercise %}
                            <li>App: {{ exercises.app.name_app }}, Exercise: {{ exercises.id_exercise }},
                                Max Score: {{ exercises.scoremax_possible }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no exercises present.</strong>
                {% endif %}
            </p>
        </div>
        <div class="square">
            <h2>Scores</h2>
            <p>
                {% if score %}
                    <ul>
                        {% for scores in score %}
                            <li>Exercise: {{ scores.exercise.id_exercise }}, Student: {{ scores.student.id_student }},
                                Date: {{ scores.date }}, Score: {{ scores.score }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no score present.</strong>
                {% endif %}
            </p>
        </div>

        <div class="square">
            <canvas id="canvas" height="450" width="580"></canvas>
        </div>

        <script>
            var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
            var barChartData = {
                labels : ["February","March","April","May"],
                datasets : [
                    {
                        fillColor : "rgba(220,220,220,0.5)",
                        strokeColor : "rgba(220,220,220,0.8)",
                        highlightFill: "rgba(220,220,220,0.75)",
                        highlightStroke: "rgba(220,220,220,1)",
                        data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),
                            randomScalingFactor()]
                    },
                    {
                        fillColor : "rgba(151,187,205,0.5)",
                        strokeColor : "rgba(151,187,205,0.8)",
                        highlightFill : "rgba(151,187,205,0.75)",
                        highlightStroke : "rgba(151,187,205,1)",
                        data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),
                            randomScalingFactor()]
                    }
                ]
            };
            window.onload = function(){
                var ctx = document.getElementById("canvas").getContext("2d");
                window.myBar = new Chart(ctx).Bar(barChartData, {
                    responsive : true
                });
            }
        </script>
    {% else %}
        <a href="admin">Login</a>
    {% endif %}
{% endblock %}