{%  extends "template.html" %}
{% block content %}
    <div class="upload" >
        <h2>Scores</h2>
        <p>
            {% if student %}
                <ul>
                    {% for students in student %}
                        <li>{{ students.id_student }}, {{ students.id_class }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no students present.</strong>
            {% endif %}
        </p>
    </div>
{% endblock %}